@font-face {
    font-family: "yache";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "yache";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/yache/yache-Bold.ttf") format("truetype");
    font-display: swap;
} 

.yache {
    font-family: "yache";
}
.yache400 {
    font-family: "yache";
    font-weight: 400;
}
.yache700 {
    font-family: "yache";
    font-weight: 700;
}